body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Sötét háttér */
    color: #f0f0f0; /* Világos szöveg */
    line-height: 1.6;
}

header {
    background-color: #262626; /* Még sötétebb szürke */
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

nav {