@import url('Font.css');
body {
    font-family: 'gunplay';
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #1a1a1a, #333, #1a1a1a);
    background-size: 600% 600%;
    animation: gradientShift 10s ease infinite;
    color: #f0f0f0; /* Világos szöveg */
    line-height: 1.6;
    overflow-x: hidden;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    background-color: rgba(38, 38, 38, 0.9); /* Még sötétebb szürke áttetsző */
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    animation: fadeIn 1s ease-in-out; /* Belépő animáció */
    backdrop-filter: blur(10px);
}

header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

nav {
    background-color: rgba(17, 17, 17, 0.9); /* Nagyon sötét áttetsző szürke */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    animation: slideDown 0.5s ease-in-out; /* Lecsúszó animáció */
    backdrop-filter: blur(10px);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
    transform: scale(1.1);
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(51, 51, 51, 0.9); /* Sötét áttetsző szürke */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: start;
    animation: fadeIn 1s ease-in-out; /* Belépő animáció */
    backdrop-filter: blur(10px);
}

#intro {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 20px;
}



#startButton {
    background-color: #ff6f61; /* Piros */
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#startButton:hover {
    background-color: #ff3d2e; /* Sötétebb piros hover állapotban */
    transform: scale(1.1);
}