/* uploads.css */

/* Alap stílusok */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Sötét háttér */
    color: #f0f0f0; /* Világos szöveg */
    line-height: 1.6;
    transition: background-color 0.5s, color 0.5s; /* Átmenet a színek változásához */
}

header {
    background-color: #262626; /* Még sötétebb szürke */
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    animation: fadeIn 1s ease-in-out; /* Belépő animáció */
}

header p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

nav {
    background-color: #111; /* Nagyon sötét szürke */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Árnyék */
    animation: slideDown 0.5s ease-in-out; /* Belépő animáció */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: background-color 0.3s, transform 0.3s; /* Átmenet és skálázás */
}

nav ul li a:hover {
    background-color: #444; /* Szürke háttér hover állapotban */
    border-radius: 5px;
    transform: scale(1.1); /* Nagyítás hover állapotban */
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #333; /* Sötét szürke */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease-in-out; /* Belépő animáció */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #666; /* Sötét szürke keret */
    border-radius: 4px;
    background-color: #444; /* Szürke */
    color: #eee; /* Világos szöveg */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Átmenet és skálázás */
}

input[type="file"]:hover {
    background-color: #555; /* Világosabb szürke hover állapotban */
    transform: scale(1.05); /* Nagyítás hover állapotban */
}

button {
    padding: 10px